; configuration for php opcache module
;priority=10
zend_extension=opcache.so
opcache.memory_consumption=800
opcache.interned_strings_buffer=64
opcache.max_accelerated_files=32531
opcache.interned_strings_buffer=64
opcache.revalidate_freq=5

opcache.jit=on
opcache.jit_buffer_size=512M
opcache.jit=function
